/* media */
$media-list: (
  "xxs": 374,
  "xs": 450, //на макете 360
  "sm": 700, //на макете 480
  "md": 992, //на макете 768
  "xmd": 1100, 
  "lg": 1200, //на макете 1000
  "xl": 1499,
  "xxl": 1800,
);
$mainColor: #000;
$black: #2F323A;
$red: #CA3232;
$orange: #D84D1C;
$lightBg: #F4F3F0;
$ocher: #AF8F46;
$blue: #004ABA; //#104CA6 бывший
$blueLight: #739FF3;
$blueDarck: #031B4B;
$greenLight: #A1C63A;
$violet: #A374DF;

$fz11: 0.6875rem;
$fz12: 0.75rem;
$fz13: 0.8125rem;
$fz14: 0.875rem;
$fz16: 1rem;
$fz17: 1rem; // тоже 16px
$fz17T: 1.0625rem; // 17px
$fz18: 1.125rem;
$fz20: 1.25rem;
$fz21: 1.3125rem;
$fz24: 1.5rem;
$fz32: 2rem;
$fz42: 2.625rem;
$fz52: 3.25rem;
//line-height
$lh16: 1rem;
$lh20: 1.25rem;
$lh22: 1.375rem;
$lh24: 1.5rem;
$lh26: 1.625rem;
$lh28: 1.75rem;
$lh40: 2.5rem;
$lh42: 2.625rem;
$lh52: 3.25rem;
$lh58: 3.625rem;

/* шрифты */
$mainFont: "Manrope", sans-serif;
/*
px	rem
8	0.5
9	0.5625
10	0.625
11	0.6875
12	0.75
13	0.8125
14	0.875
15	0.9375
16	1
17	1.0625
18	1.125
19	1.1875
20	1.25
21	1.3125
22	1.375
23	1.4375
24	1.5
25	1.5625
26	1.625
27	1.6875
28	1.75
29	1.8125
30	1.875
31	1.9375
32	2
33	2.0625
34	2.125
35	2.1875
36	2.25
37	2.3125
38	2.375
39	2.4375
40	2.5
41	2.5625
42	2.625
43	2.6875
44	2.75
45	2.8125
46	2.875
47	2.9375
*/

/* цвета */

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
