.section__header 
	.container
		.header__decs 
			img.header__decs__logo(src="img/svg/logo_wolk.svg", alt="logo")
			ul.header__menu 
				li.header__menu--item
					a(href="#") О центре
				li.header__menu--item
					a(href="#") Расписание занятий
				li.header__menu--item
					a(href="#") Анонсы курсов
				li.header__menu--item
					a(href="#") О центре
				li.header__menu--item
					a(href="#") Наши инструкторы
				li.header__menu--item
					a(href="#") Контакты

				
		.header__other
			.header__other__soc
				a.header__other__soc__icon(href="tel:+79998887765") 
					img(src="img/svg/header-phone.svg", alt="icon")
					!="+7 (999) 888 77-65"
				a.header__other__soc__icon(href="mailto:email@wolk.ru")
					img(src="img/svg/header-Email.svg", alt="icon")
					!="email@wolk.ru"
		.header__other__mob 
			a.header__other__humb
				img(src="img/svg/humb.svg", alt="icon")

.section__mob-menu 	
	.mob-menu--overlay
	.mob-menu
		.mob-menu--close
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 18L10 10M18 18L10 10M2 2L10 10M18 2L10 10" stroke="#031B4B" stroke-width="1.5" stroke-linecap="square"/>
			</svg>	
		ul.mob-menu--list
			li.mob-menu--item
				a(href="#") О центре
			li.mob-menu--item
				a(href="#") Расписание занятий
			li.mob-menu--item
				a(href="#") Анонсы курсов
			li.mob-menu--item
				a(href="#") О центре
			li.mob-menu--item
				a(href="#") Наши инструкторы
			li.mob-menu--item
				a(href="#") Контакты
		.header__other
			.header__other__soc
				a.header__other__soc__icon(href="tel:+79998887765") 
					<svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_343_132)">
					<path d="M18.0797 21.0519C18.0797 21.0519 20.4697 19.6836 21.0954 19.3548C21.7194 19.0248 22.3657 18.9416 22.7582 19.1813C23.3527 19.5449 28.344 22.8652 28.7643 23.1592C29.1846 23.4538 29.387 24.2949 28.8092 25.119C28.2336 25.943 25.5786 29.2014 24.4535 29.1666C23.3267 29.13 18.6417 29.0272 9.807 20.1901C0.974114 11.3558 0.869635 6.66953 0.833628 5.54267C0.797621 4.4164 4.05594 1.7607 4.87997 1.18458C5.70518 0.609047 6.5475 0.825682 6.84028 1.23062C7.17319 1.69163 10.4551 6.66716 10.8164 7.23738C11.0637 7.62697 10.9728 8.27688 10.6428 8.9014C10.3146 9.52711 8.94638 11.9172 8.94638 11.9172C8.94638 11.9172 9.91089 13.5623 13.1728 16.8236C16.4352 20.0856 18.0797 21.0519 18.0797 21.0519Z" stroke="#CA3232" stroke-width="2" stroke-miterlimit="10"/>
					</g>
					<defs>
					<clipPath id="clip0_343_132">
					<rect width="30" height="30" fill="white"/>
					</clipPath>
					</defs>
					</svg> 
					!="+7 (999) 888 77-65"
				a.header__other__soc__icon(href="mailto:email@wolk.ru")
					<svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_343_143)">
					<path d="M26.1177 3.5293H3.88235C2.2255 3.5293 0.882355 4.87244 0.882355 6.5293V23.4705C0.882355 25.1273 2.2255 26.4705 3.88235 26.4705H26.1177C27.7745 26.4705 29.1176 25.1273 29.1176 23.4705V6.5293C29.1176 4.87244 27.7745 3.5293 26.1177 3.5293Z" stroke="#CA3232" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
					<path d="M0.833332 7.5C0.833332 7.5 11.7445 16.6695 12.6334 17.4156C13.5223 18.1618 14.4479 18.3333 15 18.3333C15.5521 18.3333 16.4777 18.1624 17.3666 17.4162C18.2555 16.6701 29.1667 7.50057 29.1667 7.50057" stroke="#CA3232" stroke-width="1.9959" stroke-miterlimit="10"/>
					</g>
					<defs>
					<clipPath id="clip0_343_143">
					<rect width="30" height="30" fill="white"/>
					</clipPath>
					</defs>
					</svg>
					!="email@wolk.ru"	

		