extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Text page"

block content
	.text-page
		include ../../blocks/modules/header/header
		include ../../blocks/modules/breadcrumbs/breadcrumbs

		section.block-content.bg--white
			.container
				.block-text
					.block-text--title.fz__39 КОМПЛЕКСНАЯ САМООБОРОНА
					.text-one.fz__15
						p
							| <img src="img/text-one--1.png", alt="">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. С другой стороны консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Товарищи! рамки и место обучения кадров требуют определения и уточнения существенных финансовых и административных условий. <br><br>
							| Не следует, однако забывать, что дальнейшее развитие различных форм деятельности требуют от нас анализа направлений прогрессивного развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! новая модель организационной деятельностив значительной степени обуславливает создание существенных финансовыхи административных условий. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения форм развития. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций. <br><br>
							| Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития. Таким образом консультация с широким активом требуют от нас анализа позиций, занимаемых участникамив отношении поставленных задач. 
		
				.block-text
					.block-text--picture-bg
						img(src="img/block-text--picture-bg--1.png", alt="") 
					.block-text--picture-full
						img(src="img/block-text--picture-full.png", alt="")
				.block-text
					.block-text--subtitle.fz__24 ОСНОВНЫЕ ТЕХНИКИ ПОДГОТОВКИ
					.text-one.fz__15
						p 
							| Не следует, однако забывать, что дальнейшее развитие различных форм деятельности требуют от нас анализа направлений прогрессивного развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
						<br>
						ul 
							li
								| Hавным образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития
							li 
								| Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития
							li 
								| Таким образом консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач
							li 
								| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения форм развития
						<br>
						p 
							| Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует текущим потребностям.
				.block-text.no-margin
					.block-text--subtitle.fz__24.mb__50 ОТЛИЧИЯ ПРЕВЕНТИВНОЙ И УПРЕЖДАЮЩЕЙ САМООБОРОНЫ
					.text-two.fz__15
						p
							| <img src="img/text-two--1.png", alt="">Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения новых предложений. Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа форм развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации. С другой стороны начало повседневной работыпо формированию позиции играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке новых предложений. <br><br>
							| Таким образом начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. <br><br>
							| Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.<br><br> 
							| Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участникамив отношении поставленных задач. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения форм развития. Равным образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.<br><br> 
		
		section.block-content.bg--white
			.container
				.reviews__bg.reviews__bg--1
					img(src="img/reviews__bg--2.png", alt="")
				.reviews__bg.reviews__bg--2
					img(src="img/reviews__bg--1.png", alt="") 
				.reviews
					.slider-tree--title.fz__39
						!="ОТЗЫВЫ О КУРСЕ"
					.swiper.slider-tree.reviews--slider-tree.js--reviews
						.swiper-wrapper
							.swiper-slide
								.review.foto
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
									.review--col
										.swiper.slider-tree.review--slider.js--review--item
											.swiper-wrapper
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/video-reviews--5.png', srcset='./img/video-reviews--5.png 2x', alt='')
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/video-reviews--2.png', srcset='./img/video-reviews--2.png 2x', alt='')
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/about-3.jpg', srcset='./img/about-3.jpg 2x', alt='')
											
											.review--slider--nav
												.swiper-button-prev
													<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
													</svg>											
												.swiper-pagination
												.swiper-button-next
													<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
													</svg>

					
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь"
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col

						.swiper-button-next.swiper-reviews-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev.swiper-reviews-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
		section.block-content.bg--white
			.container 
				.training
					.slider-four--title.fz__39 ТАК ЖЕ МЫ УЧИМ
					.swiper.slider-four.js--training
						.swiper-wrapper
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--1.png', srcset='./img/training--1.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Безопасность <br>в транспорте»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--2.png', srcset='./img/training--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Тактический<br>травмат»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--3.png', srcset='./img/training--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Курс <br> «Оператор АК. База»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--4.png', srcset='./img/training--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Основы <br>доврачебной помощи»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--2.png', srcset='./img/training--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Тактический<br>травмат»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--3.png', srcset='./img/training--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Курс <br> «Оператор АК. База»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--4.png', srcset='./img/training--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Основы <br>доврачебной помощи»"
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")