extends layouts/default
include helpers/mixins

block variables
	- const title = "Main page"

block content
	.main
		include ../blocks/modules/header/header
		section.top-banner
			.container 
				.top-banner__content
					h1.top-banner__title.fz__39 Международный центр боевой и специальной подготовки «Волк»
					.top-banner__text.fz__24
						!="Основные направление работы Центра, это проведение учебно-практических мероприятий для гражданских  людейи специалистов в области безопасности"
					a(href="").top-banner__button.button ПОДРОБНЕЕ
				.top-banner__soc
					a(href="#").top-banner__soc--item
						img(src="img/svg/vk--banner.svg", alt="")
					a(href="#").top-banner__soc--item
						img(src="img/svg/inst--banner.svg", alt="")

		section.block-content.bg--white
			.container
				.video-reviews__bg.video-reviews__bg--1
					img(src="img/block-content__bg--1.png", alt="")
				.video-reviews__bg.video-reviews__bg--2
					img(src="img/block-content__bg--1.png", alt="") 
				.video-reviews
					.slider-tree--title.fz__39 ВИДЕООБЗОРЫ КУРСОВ
					.swiper.slider-tree.js--video-reviews
						.swiper-wrapper
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--1.png', srcset='./img/video-reviews--1.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle Тактика боя с ножом
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--2.png', srcset='./img/video-reviews--2.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle Личная безопасность
								.swiper-slide.video--black
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle «Подготовка сотрудников личной охраны»								
										.slider-tree--treeTitle Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении...								
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/about-3.jpg', srcset='./img/about-3.jpg 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle «Подготовка сотрудников личной охраны»								
										.slider-tree--treeTitle Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении...								
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>

		section.block-content.bg--black
			.container 
				.training__bg.training__bg--1
					img(src="img/training__bg--2.png", alt="")
				.training__bg.training__bg--2
					img(src="img/training__bg--1.png", alt="") 
				.training
					.slider-four--title.fz__39 КУРСЫ И ПРОГРАММЫ ОБУЧЕНИЯ
					.swiper.slider-four.js--training
						.swiper-wrapper
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--1.png', srcset='./img/training--1.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Безопасность <br>в транспорте»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--2.png', srcset='./img/training--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Тактический<br>травмат»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--3.png', srcset='./img/training--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Курс <br> «Оператор АК. База»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--4.png', srcset='./img/training--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Основы <br>доврачебной помощи»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--2.png', srcset='./img/training--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Тактический<br>травмат»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--3.png', srcset='./img/training--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Курс <br> «Оператор АК. База»"
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/training--4.png', srcset='./img/training--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="«Основы <br>доврачебной помощи»"
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						
		section.block-content.bg--white
			.container 
				.courses
					.slider-tree--title.fz__39 ПРОФЕССИОНАЛЬНЫЕ КУРСЫ ДЛЯ СПЕЦИАЛИСТОВ В ОБЛАСТИ БЕЗОПАСНОСТИ
					.swiper.slider-tree.js--courses
						.swiper-wrapper
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--1.png', srcset='./img/video-reviews--1.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle Тактика боя с ножом
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--2.png', srcset='./img/video-reviews--2.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle Личная безопасность
								.swiper-slide.video--black
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle «Подготовка сотрудников личной охраны»								
										.slider-tree--treeTitle Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении...								
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/about-3.jpg', srcset='./img/about-3.jpg 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
									.slider-tree--text
										.slider-tree--subtitle «Подготовка сотрудников личной охраны»								
										.slider-tree--treeTitle Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении...								
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
										.video-reviews__play
											img(src='img/svg/i-play-2.svg', alt="")
								.swiper-slide
									a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
										img.video-reviews__preview(src='img/video-reviews--3.png', srcset='./img/video-reviews--3.png 2x', alt='')
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
		
		
		section.block-content.bg--black
			.container
				.certificates__bg.certificates__bg--1
					img(src="img/certificates__bg--1.png", alt="")
				.certificates__bg.certificates__bg--2
					img(src="img/certificates__bg--1.png", alt="") 
				.certificates
					.slider-four--title.fz__39 РАБОТА ЦЕНТРА ОТМЕЧЕННА
					.swiper.slider-four.js--certificates
						.swiper-wrapper
								.swiper-slide
									.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/certificates--1.png', srcset='./img/certificates--1.png 2x', alt='')
									a(href="#").slider-four--button МАСАД
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/certificates--2.png', srcset='./img/certificates--2.png 2x', alt='')
									a(href="#").slider-four--button МВД РФ
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/certificates--3.png', srcset='./img/certificates--3.png 2x', alt='')
									a(href="#").slider-four--button СЕРБИЯ
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/certificates--4.png', srcset='./img/certificates--4.png 2x', alt='')
									a(href="#").slider-four--button ТАЙВАНЬ
								.swiper-slide
									a.video-reviews__video(href='#')
										img.video-reviews__preview(src='img/certificates--4.png', srcset='./img/certificates--4.png 2x', alt='')
									a(href="#").slider-four--button ТАЙВАНЬ
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>

		section.block-content.block-content--nearest-event.bg--white
			.container
				.nearest-event
					.slider-four--title.fz__39 БЛИЖАЙШИЕ МЕРОПРИЯТИЯ		
					.nearest-event__card 
						.nearest-event__card--title
							.nearest-event__card--date 30 АПРЕЛЯ
							.nearest-event__card--time 15:00
							.nearest-event__card--location подмосковье
						.nearest-event__card--subtitle мастер класс мастеров ножевого боя и комплексной самообороны
						.nearest-event__card--row
							.nearest-event__card--col
								.nearest-event__card--picture
									img(src="img/nearest-event__card--picture--1.png", alt="")
							.nearest-event__card--col
								.nearest-event__card--desc 
									!="Постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений. Задача организациив особенности же укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития."
								.nearest-event__card--timer
									<div id="clock">
										<div class="clock__title">ОСТАЛОСЬ ДО НАЧАЛА:</div>
										<div class="clock__wrap">
											<div class="clock__item">
												<span class="days"></span>
												<div class="smalltext">дней</div>
											</div>
											<div class="clock__colon">:</div>
											<div class="clock__item">
												<span class="hours"></span>
												<div class="smalltext">ЧАСОВ</div>
											</div>
											<div class="clock__colon">:</div>
											<div class="clock__item">
												<span class="minutes"></span>
												<div class="smalltext">МИНУТ</div>
											</div>
											//- <div class="clock__colon">:</div>
											//- <div class="clock__item">
											//- 	<span class="seconds"></span>
											//- 	<div class="smalltext">секунд</div>
											//- </div>
										</div>

						</div>								
		section.block-content.bg--white
			.container
				.nearest__bg.nearest__bg--1
					img(src="img/nearest__bg--1.png", alt="")
				.nearest__bg.nearest__bg--2
					img(src="img/nearest__bg--1.png", alt="") 
				.nearest
					.slider-four--title.fz__39 БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
					.swiper.slider-four.js--nearest
						.swiper-wrapper
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--1.png', srcset='./img/nearest--1.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Комплексная <br>самооборона"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--2.png', srcset='./img/nearest--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Ножевой бой"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--3.png', srcset='./img/nearest--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Детская самооборона"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--4.png', srcset='./img/nearest--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Spec fit pro"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--4.png', srcset='./img/nearest--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Spec fit pro"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--2.png', srcset='./img/nearest--2.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Ножевой бой"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--3.png', srcset='./img/nearest--3.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle
											!="Детская самооборона"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--4.png', srcset='./img/nearest--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Spec fit pro"
								.swiper-slide
									a.video-reviews__video(href="" data-fancybox data-src="#events--modal")
										img.video-reviews__preview(src='img/nearest--4.png', srcset='./img/nearest--4.png 2x', alt='')
									.slider-four--text
										.slider-four--subtitle 
											!="Spec fit pro"
						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>


		section.block-content.bg--black
			.container
				.instructors__bg.instructors__bg--1
					img(src="img/instructor__bg--2.png", alt="")
				.instructors__bg.instructors__bg--2
					img(src="img/instructor__bg--1.png", alt="") 
				.instructors
					.slider-four--title.fz__39 НАШИ ИНСТРУКТОРЫ
					.swiper.slider-four.js--instructors
						.swiper-wrapper
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/instructor--picture--1.png", alt="") 
										.instructor--col
											.instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений."
												br
												p 
													!="Идейные соображения высшего порядка, а также начало повседневной работыпо формированию позиции играет важную роль в формировании существенныхфинансовых и административных условий. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке форм развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач."
												br
											.instructor--certificates--title Награды преподавателя
											.instructor--certificates
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
											a(href="" data-fancybox data-src="#js--instructors--modal").instructor__button.button ПОДРОБНЕЕ О ПРЕПОДАВАТЕЛЕ
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/nearest-event__card--picture--1.png", alt="") 
										.instructor--col
											.instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений."
												br
												p 
													!="Идейные соображения высшего порядка, а также начало повседневной работыпо формированию позиции играет важную роль в формировании существенныхфинансовых и административных условий. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке форм развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач."
												br
											.instructor--certificates--title Награды преподавателя
											.instructor--certificates
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
											a(href="" data-fancybox data-src="#js--instructors--modal").instructor__button.button ПОДРОБНЕЕ О ПРЕПОДАВАТЕЛЕ
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/video-reviews--2.png", alt="") 
										.instructor--col
											.instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений."
												br
												p 
													!="Идейные соображения высшего порядка, а также начало повседневной работыпо формированию позиции играет важную роль в формировании существенныхфинансовых и административных условий. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке форм развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач."
												br
											.instructor--certificates--title Награды преподавателя
											.instructor--certificates
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
												.instructor--certificat
													img(src="img/instructor--certificat.png", alt="")
											a(href="" data-fancybox data-src="#js--instructors--modal").instructor__button.button ПОДРОБНЕЕ О ПРЕПОДАВАТЕЛЕ

						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>

		section.block-content.bg--white
			.container
				.reviews__bg.reviews__bg--1
					img(src="img/reviews__bg--2.png", alt="")
				.reviews__bg.reviews__bg--2
					img(src="img/reviews__bg--1.png", alt="") 
				.reviews
					.slider-tree--title.fz__39
						!="ОТЗЫВЫ"
						a.link--one Отзывы на Яндексе
						a.link--one Отзывы ВК
					.swiper.slider-tree.reviews--slider-tree.js--reviews
						.swiper-wrapper
							.swiper-slide
								.review.foto
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
									.review--col
										.swiper.slider-tree.review--slider.js--review--item
											.swiper-wrapper
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/video-reviews--5.png', srcset='./img/video-reviews--5.png 2x', alt='')
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/video-reviews--2.png', srcset='./img/video-reviews--2.png 2x', alt='')
												.swiper-slide
													.review--slider--picture
														img.video-reviews__preview(src='img/about-3.jpg', srcset='./img/about-3.jpg 2x', alt='')
											
											.review--slider--nav
												.swiper-button-prev
													<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
													</svg>											
												.swiper-pagination
												.swiper-button-next
													<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
													</svg>

					
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь"
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col
							.swiper-slide
								.review
									.review--col
										.review--name Анастасия Николаева
										.review--stars
											<div class="rating">
												<input type="radio" id="star1" name="rating" value="1" />
												<label for="star1"></label>
												<input type="radio" id="star2" name="rating" value="2" />
												<label for="star2"></label>													
												<input type="radio" id="star3" name="rating" value="3" />
												<label for="star3"></label>													
												<input type="radio" id="star4" name="rating" value="4" />
												<label for="star4"></label>													
												<input type="radio" id="star5" name="rating" value="5" />
												<label for="star5"></label>
											</div>
										.review--desc 
											!="Равным образом, выбранный нами инновационный путь играет важную роль в формировании переосмысления внешне экономических политик.А ещё интерактивные прототипы функционально разнесенына независимые элементы. Противоположная точка зрения подразумевает, что многие известные личностипредставленыв исключительно положительном свете. Вот вам яркий пример современных тенденций этого..."
										a.review--button.link--one + 3 фото
									.review--col

						.swiper-button-next.swiper-reviews-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev.swiper-reviews-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
				.reviews--buttons
					a(href="#").button НАПИСАТЬ ОТЗЫВ
					a(href="#").button.button--outline ВСЕ ОТЗЫВЫ

		
		
		section#js--instructors--modal.block-content.bg--black.instructors--modal(style='display: none')
			.container
				.instructors
					.instructors__bg.instructors__bg--56
						img(src="img/instructor--modal--2.png", alt="")
					.instructors--title.fz__39 ТАКТИКА БОЯ С НОЖОМ
						.write-review__close
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10.57 -0.000150693L11.9794 1.41161L7.40926 5.98964L11.9998 10.5881L10.5904 11.9999L5.99994 7.4014L1.40944 11.9998L0.000113316 10.5881L4.59061 5.98964L0.0205078 1.41162L1.42983 -0.000143541L5.99994 4.57787L10.57 -0.000150693Z" fill="#CA3232"/>
							</svg>			
					.instructor
						.instructor--col
							a.video-reviews__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
								img.video-reviews__preview(src='img/pop-up--foto--2.png', srcset='./img/video-reviews--1.png 2x', alt='')
								.video-reviews__play
									img(src='img/svg/i-play-2.svg', alt="")
						.instructor--col
							//- .instructor--name Иван Петров
							.instructor--desc 
								p 
									!="Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений."
								br
								p 
									!="Идейные соображения высшего порядка, а также начало повседневной работыпо формированию позиции играет важную роль в формировании существенныхфинансовых и административных условий. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке форм развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач."
							.instructor--certificates--title Фото курса
							.instructor--certificates
								.instructor--certificat
									img(src="img/pop-up--foto--1.png", alt="")
								.instructor--certificat
									img(src="img/pop-up--foto--1.png", alt="")
								.instructor--certificat
									img(src="img/pop-up--foto--1.png", alt="")
							//- a(href="").instructor__button.button ПОДРОБНЕЕ О ПРЕПОДАВАТЕЛЕ		

		section#events--modal.block-content.bg--beige.events--modal(style='display: none')
			.container
				.instructors
					.slider-four--title.fz__39 МАСТЕР-КЛАСС ПО МАСТЕРСТВУ НОЖЕВОГО БОЯ
					.swiper.slider-four.js--instructors--modal
						.swiper-wrapper
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/instructor--picture--1.png", alt="") 
										.instructor--col
											//- .instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений постоянный количественный рост и сфера нашей активности играет важную роль."
												p 
													!="Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения форм развития."
												p 
													!="Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна,что реализация намеченных плановых заданий играет важную рольв формировании системы обучения кадров, соответствует текущим потребностям"
											.instructor--desc.mb-none 
												p 
													!="Вы можете принять участие в ближайшем курсе исходя из нашего календаря или заказать свой курс в согласованное время и дату"
											.instructor--buttons 
												a(href="").instructor__button.button ЗАПИСАТЬСЯ НА КУРС
												a(href="").instructor__button.button.button--outline ДРУГИЕ КУРСЫ
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/instructor--picture--1.png", alt="") 
										.instructor--col
											//- .instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений постоянный количественный рост и сфера нашей активности играет важную роль."
												p 
													!="Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения форм развития."
												p 
													!="Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна,что реализация намеченных плановых заданий играет важную рольв формировании системы обучения кадров, соответствует текущим потребностям"
											.instructor--desc.mb-none 
												p 
													!="Вы можете принять участие в ближайшем курсе исходя из нашего календаря или заказать свой курс в согласованное время и дату"
											.instructor--buttons 
												a(href="").instructor__button.button ЗАПИСАТЬСЯ НА КУРС
												a(href="").instructor__button.button.button--outline ДРУГИЕ КУРСЫ
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/instructor--picture--1.png", alt="") 
										.instructor--col
											//- .instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений постоянный количественный рост и сфера нашей активности играет важную роль."
												p 
													!="Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения форм развития."
												p 
													!="Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна,что реализация намеченных плановых заданий играет важную рольв формировании системы обучения кадров, соответствует текущим потребностям"
											.instructor--desc.mb-none 
												p 
													!="Вы можете принять участие в ближайшем курсе исходя из нашего календаря или заказать свой курс в согласованное время и дату"
											.instructor--buttons 
												a(href="").instructor__button.button ЗАПИСАТЬСЯ НА КУРС
												a(href="").instructor__button.button.button--outline ДРУГИЕ КУРСЫ
								.swiper-slide
									.instructor
										.instructor--col
											.instructor--picture
												img(src="img/instructor--picture--1.png", alt="") 
										.instructor--col
											//- .instructor--name Иван Петров
											.instructor--desc 
												p 
													!="Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений постоянный количественный рост и сфера нашей активности играет важную роль."
												p 
													!="Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения форм развития."
												p 
													!="Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна,что реализация намеченных плановых заданий играет важную рольв формировании системы обучения кадров, соответствует текущим потребностям"
											.instructor--desc.mb-none 
												p 
													!="Вы можете принять участие в ближайшем курсе исходя из нашего календаря или заказать свой курс в согласованное время и дату"
											.instructor--buttons 
												a(href="").instructor__button.button ЗАПИСАТЬСЯ НА КУРС
												a(href="").instructor__button.button.button--outline ДРУГИЕ КУРСЫ

						.swiper-button-next
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 17L9 8.99999L0.999999 0.999996" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>
						.swiper-button-prev
							<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10 1L2 9.00001L10 17" stroke="#CA3232" stroke-width="2" stroke-linecap="round"/>
							</svg>


	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")