.section.section__breadcrumbs
	.container 
		.breadcrumbs
			a.breadcrumbs__item 
				| Главная
			a.breadcrumbs__item 
				| Курсы
			a.breadcrumbs__item.breadcrumbs__item__active
				| Комплексная самооборона