.footer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 100%;
    background: $black;
    padding-top: 132px;
    padding-bottom: 12px;
    @include max(md) {
        padding-top: 80px;
    }
    @include max(sm) {
        padding-top: 60px;
    }
    &--title {
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 500;
        font-size: 39px;
        line-height: 47px;
        text-transform: uppercase;
        color: #FFFFFF; 
        margin-bottom: 35px; 
        position: relative;
        width: 100%;
        text-align: center;
        @include max(sm) {
            padding-right: 0;
        }  
    }
    &--subtitle {
        position: relative;
        width: 100%;
        text-align: center;
        font-family: 'GolosText';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: #D9D9D9;
        margin-bottom: 25px;
        margin-top: -15px;       
    }
    &--row {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 15px;
        margin-bottom: 65px;
        @include max(sm) {
          margin-bottom: 40px;  
        }
        &--finish {
          border-top: 10px solid #FFFFFF;
          padding-top: 70px;
          margin-top: 43px;
          @include max(sm) {
            margin-top: 20px;  
          }
        }
        &--one {
            @include max(md) {
              flex-flow: column nowrap;  
            }
            .footer--col {
                &:nth-child(1) {
                    @include max(md) {
                       margin-bottom: 25px;
                    }                    
                }
                &:nth-child(2) {
                    @media (max-width: 576px) {
                        height: calc(75vw - 20px);   
                    }                   
                }
                @include max(md) {
                    width: 100%;
                }
                  
            }
        }
    }
    &--col {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        &:nth-child(1) {
            width: 44%;
        }
        &:nth-child(2) {
            width: 56%;
        }
    }
    &__contacts {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;      
    }
    &__contact  {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
        width: 100%; 
        &--icon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
        }
        &--link {
            position: relative;
            width: 100%;
            text-decoration: none;
            font-family: 'GolosText';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            color: #FFFFFF;
            transition: all .3s;
            margin-bottom: 20px;
            &:hover {
                transition: all .3s;
                color: #D84D1C;

            }           
        } 
        .top-banner__soc {
            justify-content: flex-start;
        }    
    }
    &__map {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center center;
        }
    }
    &__form {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        form {
            position: relative;
            width: 100%;
            max-width: 686px;
        }
    }
    &__finish {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: column nowrap;
        .top-banner__soc {
            @include max(sm) {
                justify-content: center;
            }              
        }
    }
    &__logo {
       position: relative;
       margin-bottom: 15px; 
    }
    &__text  {
        font-family: 'GolosText';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #D9D9D9;
        margin-bottom: 14px;
        @include max(sm) {
            font-size: 12px;
            line-height: 1.2; 
        }       
    }
}

.form {
	&__block {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		max-width: 100%;
		margin-bottom: 24px;


		&__wrap {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			width: 100%;

		}
        &--button {
            width: 182px;
            @include max(sm) {
                margin-top: 25px;
            }
        }

		label {
			position: relative;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			b {
				position: relative;
				display: flex;
                font-family: 'GolosText';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
                color: #AE998D;
				margin-bottom: 8px;
			}
		}

		input,textarea {
			position: relative;
			width: 100%;
			display: flex;
			background: #fff;
            font-family: 'GolosText';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            color: #AE998D;
			min-height: 50px;
			padding: 12px 25px;
			padding-top: 10px;
			cursor: pointer;
            border: none;

			&::placeholder {
                font-family: 'GolosText';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
                color: #AE998D;

			}

			&:focus {
				border: 1px solid $red;
			}
            &:focus-visible {
                border: 1px solid $red; 
            }
		}
        textarea {
            min-height: 132px;
            resize: none;
        }
        &--assent {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row nowrap;
            @include max(sm) {
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
            }
            .form__block--checkbox {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                cursor: pointer;
                padding-left: 30px;
                user-select: none;
                @include max(sm) {
                    flex-flow: row wrap;
                }   
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                p {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    font-family: 'GolosText';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 150%;
                    color: #FFFFFF;
                    white-space: nowrap;
                    @include max(sm) {
                        font-size: 10px;
                        line-height: 1.2;
                    }                    
                }
                a {
                    margin-left: 10px;
                    white-space: nowrap;
                    @include max(sm) {
                        font-size: 10px;
                        line-height: 1.2;
                    }   
                }
                
              }
              
              /* Create a custom checkbox */
              .checkmark {
                position: absolute;
                top: 2px;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #fff;
                border: 1px solid $red;
                @include max(sm) {
                    top: -4px
                } 
              }
              
              /* On mouse-over, add a grey background color */
              .form__block--checkbox:hover input ~ .checkmark {
                background-color: #fff;
                border: 1px solid $red;
              }
              
              /* When the checkbox is checked, add a blue background */
              .form__block--checkbox input:checked ~ .checkmark {
                background-color: $red;
              }
              
              /* Create the checkmark/indicator (hidden when not checked) */
              .checkmark:after {
                content: url(../img/checkBox.png);
                position: absolute;
                display: none;
              }
              
              /* Show the checkmark when checked */
              .form__block--checkbox input:checked ~ .checkmark:after {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              /* Style the checkmark/indicator */
              .form__block--checkbox .checkmark:after {
                left: 0px;
                top: 2px;
                width: 20px;
                height: 20px;
                @include max(sm) {
                    top: 1px
                } 
              }        
        }
	}

	&__block-double {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		@include max(sm) {
			flex-flow: column nowrap;
		}

		.form__block {
			width: 100%;
			max-width: calc(50% - 16px);

			// label {
			// 	width: calc(100% - 16px);
			// }
			@include max(sm) {
				flex-flow: column nowrap;
				max-width: 100%;
			}
		}
	}


}

