
@font-face {
  font-family: "Exo2";
  src: local("Exo2 ExtraBold"), local("Exo2-ExtraBold"),
    url("../fonts/Exo2-ExtraBold.woff2") format("woff2"),
    url("../fonts/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  src: local("Exo2 Bold"), local("Exo2-Bold"),
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Exo2";
  src: local("Exo2 SemiBold"), local("Exo2-SemiBold"),
    url("../fonts/Exo2-SemiBold.woff2") format("woff2"),
    url("../fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2 Medium"), local("Exo2-Medium"),
    url("../fonts/Exo2-Medium.woff2") format("woff2"),
    url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2 Regular"), local("Exo2-Regular"),
    url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2 Light"), local("Exo2-Light"),
    url("../fonts/Exo2-Light.woff2") format("woff2"),
    url("../fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2 ExtraLight"), local("Exo2-ExtraLight"),
    url("../fonts/Exo2-ExtraLight.woff2") format("woff2"),
    url("../fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}




@font-face {
  font-family: "GolosText";
  src: local("GolosText ExtraBold"), local("GolosText-ExtraBold"),
    url("../fonts/GolosText-ExtraBold.woff2") format("woff2"),
    url("../fonts/GolosText-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: local("GolosText Bold"), local("GolosText-Bold"),
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "GolosText";
  src: local("GolosText SemiBold"), local("GolosText-SemiBold"),
    url("../fonts/GolosText-SemiBold.woff2") format("woff2"),
    url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src: local("GolosText Medium"), local("GolosText-Medium"),
    url("../fonts/GolosText-Medium.woff2") format("woff2"),
    url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src: local("GolosText Regular"), local("GolosText-Regular"),
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src: local("GolosText Light"), local("GolosText-Light"),
    url("../fonts/GolosText-Light.woff2") format("woff2"),
    url("../fonts/GolosText-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src: local("GolosText ExtraLight"), local("GolosText-ExtraLight"),
    url("../fonts/GolosText-ExtraLight.woff2") format("woff2"),
    url("../fonts/GolosText-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
